{% extends "log/base.html" %}
{% block content %}
<title>Smart City | Contact Us</title>
<center><h1>Contact Us</h1></center>
<br>
<center><p>Please see our <a href="faq">FAQ</a>, to see if your issue is there and how to resolve it.</p></center>
<center><p> Not in the FAQ? Send an email for enquiries on the Smart City Website, admin requests and other topics.<br></p></center>
<br>
<center><p> Admin Users: </p></center>
<center><p>aaronddino@gmail.com</p></center>
<center><p>alicejmckellar@gmail.com</p></center>
{% endblock %}

{% block javascript %}

<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}