{% extends "webapp/header.html" %}

{% block content %}
<div class = "container-fluid" style = "width:95%;">
		<div class="row">
			<p> Welcome to Smart City</p>
		</div>
		<div class="row">
			<p> Please select why you are visiting the city so we can personalise the content you see </p>
		</div>

		<div class="row" >
			<div class ="col-sm-1">
				<div class="radio">
				  <label><input type="radio" name="optradio">Student</label>
				</div>
			</div>
			<div class ="col-sm-1">
				<div class="radio">
					<label><input type="radio" name="optradio">Tourist</label>
				</div>
			</div>
			<div class ="col-sm-1">
				<div class="radio">
					<label><input type="radio" name="optradio" >Businessman</label>
				</div>
			</div>
		</div>


<div class="input-group">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2">@example.com</span>
</div>


<div class="input-group">
      <div class="form-group">
  <select class="form-control" id="sel1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>

	     <input type="text" class="form-control" aria-label="...">
		 </div>
    </div><!-- /input-group -->

{% endblock %}	
