body
{
    background: url('http://www.desktop-background.com/download/2000x1500/2010/05/12/16388_minimalist-backgrounds_2560x1600_h.png') fixed;;
    background-size: cover;
    padding: 0;
    margin: 0;
}