
{% block content %}
{% load staticfiles %}
<div class="media">
  <div class="media-left">
    <img src="{% static 'personal/img/festival.png' %}" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Brisbane Festival 9-30 of September</h4>
    <p>Each September, it explodes across the city with a thrilling program of theatre, music, dance, circus, 
	opera and major public events such as Sunsuper Riverfire. Brisbane Festival attracts an audience of around one million people 
	every year. Brisbane Festival has only been annual since 2009, but in that time it’s 
	been embraced by the city and admired by the world.</p>
  </div>
</div>
<div class="media">
  <div class="media-left">
    <img src="{% static 'personal/img/whale.jpg' %}" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Whale Season June - November </h4>
    <p>Get up close and personal with majestic humpback whales as they pass by the South East Queensland coast to the warm,
	tropical waters of Queensland. Check out our guide to the best whale-watching tours and spots along the coast where you
	can catch a glimpse of these deep blue sea creatures.</p>
  </div>
</div>
<div class="media">
  <div class="media-left">
    <img src="{% static 'personal/img/glad.jpg' %}" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Gladiators: Heroes of the Colosseum 23 June - 7 January </h4>
    <p>Discover who the gladiators really were, where they lived and how they trained through artefacts, interactive games and
	displays. Archeological treasures including pieces of the Colosseum and original armour preserved in the ashes of Pompeii 
	give an insight into their lives and tell the unknown stories of these arena heroes. </p>
  </div>
</div>
{% endblock %}	