{% load staticfiles %}
<link rel='stylesheet' href="{% static 'Personal/css/bootstrap.min.css'%}" type='text/css'/>
<link rel='stylesheet' href="{% static 'Personal/css/metrotiles.css'%}" type='text/css'/>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><strong>Welcome to Smart City - Please select your desired city</strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
	<a href="home">
      <div class="tile purple" class="responsive-img">
        <h3 class="title">Brisbane</h3>
		</a>
        <p>Explore the Capital City of Queensland.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tile red">
        <h3 class="title">Sydney</h3>
        <p>Coming soon.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tile orange">
        <h3 class="title">Melbourne</h3>
        <p>Coming soon.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="tile green">
        <h3 class="title">Adelaide</h3>
        <p>Coming soon.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tile blue">
        <h3 class="title">Perth</h3>
        <p>Coming soon.</p>
      </div>
    </div>   
    <div class="col-sm-4">
      <div class="tile yellow">
        <h3 class="title">Darwin</h3>
        <p>Coming soon.</p>
      </div>
    </div>
  </div>	
  </div>
</div>